/* 主畫面，高度跟寬度用視窗來決定，超過的就不顯示 */
.app-container {
  display: flex;
 /* 啟動flexbox開關，內容由本來的垂直排列變成左右排列，如此sideBar就會到左邊了 */
  height: 100vh;    /*Viewport Height視窗高度的百分之一*/
  width: 100vw;     /*Viewport Width視窗寬度的百分之一*/
  font-family: "Microsoft JhengHei", sans-serif;
  overflow: hidden;
}
/*  */
/* 側邊欄樣式 */
.sidebar {
  width: 220px;
  background-color: #2c3e50;
  display: flex;
  /* 啟動flexbox開關，內容由本來的垂直排列變成左右排列 */
  flex-direction: column;
  /* 得讓子元素回到垂直排列 */
  padding: 20px 0;
  /* 上下20，左右0 */
  color: white;
  /* 文字顏色 */
}
/* 側邊欄標題，置中，底下保留距離，粗體 */
.sidebar-title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.tab-button {
  background: none;
  /* 讓按鈕顏色變透明，直接使用父元素顏色 */
  border: none;
  /* 不要邊框 */
  color: #bdc3c7;
  padding: 15px 25px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  /* 讓變化持續0.3s */
}
/* hover是專門控制滑鼠移過去的變化 */
.tab-button:hover {
  background-color: #34495e;
  color: white;
}
/* 當按鈕切換到這一頁時 */
.tab-button.active {
  background-color: #3498db;
  color: white;
  border-left: 5px solid #ecf0f1;
}

/* 右側內容區 */
.main-content {
  flex-grow: 1;
  background-color: #f4f7f6;
  padding: 20px;
  overflow-y: auto;
}